.header {
    background: #962cd4;
    height: 200px;
    border-color: rgb(218, 212, 212);
    border-style: solid;
    border-width: 4px;
    
}
  
.header h2 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    color: rgb(235, 232, 232);
    font-size: 3rem;
    font-family: sans-serif;
    
}

.header p {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    color: rgb(211, 209, 209);
    font-size: 1.2rem;
    font-family: sans-serif;
}